@model MvcMovie.Models.MovieDetailModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.movie.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.movie.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.movie.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.movie.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.movie.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.movie.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@Html.RouteLink("add a review", new{ action = "create", controller = "review", id = Model.movie.ID })

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>


    <h4>Review</h4>
    <hr />
    @foreach (var item in Model.reviews)
    {

        if (!(item == null))
        {
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => item.Detail)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => item.Detail)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => item.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => item.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => item.Movie)
                    </dt>
                </dl>


                <div>
                    @Html.RouteLink("Edit", new { action = "Edit", controller = "review", id = item.ReviewID })
                    @Html.RouteLink("Delete", new { action = "Delete", controller = "review", id = item.ReviewID })
                </div>
                
            </div>
        }
    }
